.container-dadosaluno {
  background-color: white;
  font-size: 24px;
  color:#171717;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items:center;
  text-align: center;
}
.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    border: 0px solid white;
    display: grid;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }
  
  .grid-item {
    grid-column: 1 / span 3;
    height: 0;
  }
.produto {
    border: 0px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    min-width: 250px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    box-shadow: 1px 1px 4px #06be4c;
  }
  
  .produto h3 {
    font-size: 20px;
    color: #171717;
    text-justify: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .produto p {
    font-weight: bold;
    font-size: 20px;
    color: #06be4c;
    text-justify: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .produto img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    display: block;
  }
  .btn-detalhes {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .btn-detalhes:hover {
    background-color: #45a049;
  }
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  #search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  #search-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #45a049;
  }
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 100px    ;
    width: 1200px;
    margin: 0 auto;
  }
  
  
  .filter {
    margin-top: 20px;
    width: 300px;
    margin-right: 100px;
    float: left;
    padding: 20px;
    background-color: #13a34d;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .filter h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .filter button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter button:hover {
    background-color: #45a049;
  }
  .slide {
    position: relative;
    max-width: 800px;
    min-width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #016219;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }

/* detalhes.html */
.container-detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#detalhes-container {
  background-color: #2ca151;
  border-radius: 20px;
  padding: 20px;
  max-width: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

#produto-image {
  width: 350px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

#produto-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

#produto-price {
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 24px;
}

#produto-description {
  margin-bottom: 20px;
  color: black;
}

#produto-brand,
#produto-season,
#produto-usage,
#produto-gender,
#produto-article-number,
#produto-base-color,
#produto-year,
#produto-article-type,
#produto-display-categories,
#produto-category {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

#produto-rating-rate {
  font-weight: bold;
  color: black;
}

#produto-rating-count {
  font-weight: bold;
  color: black;
}


@media (max-width: 820px) {
  .container-detalhes {
    padding: 10px;
  }

  #detalhes-container {
    margin-top: 10px;
  }

  #produto-image {
    width: 250px;
  }

  #produto-title {
    font-size: 20px;
  }

  #produto-price {
    font-size: 20px;
  }
}

@media (max-width: 570px) {
  .container-detalhes {
    padding: 5px;
  }

  #detalhes-container {
    margin-top: 5px;
    padding: 10px;
  }

  #produto-image {
    width: 200px;
  }

  #produto-title {
    font-size: 18px;
  }

  #produto-price {
    font-size: 18px;
  }
} 